<!-- Loop over each code submission in the code-submissions array -->
{{logIt session.loggedIn}}
<div class="md:flex sm:block">

  <div class="flex flex-col mx-auto justify-center">
    <p class="popIn font-bold text-2xl mb-2 text-center">Recent posts:</p>


    {{!-- Render cards with valid upvote buttons --}}
    {{#if session.loggedIn}}
    {{#each submissions as |submission|}}
    <div class="popInSway w-fit">
      <div class="flex submission max-w-md">

        {{! Voting buttons and points w/ event handlers}}
        <div class="m-2 p-2 flex flex-col items-center" id="col3-vote">
          {{! Upvote }}
          <button class="upvoteButton disabled:opacity-25" data-post-id="{{submission.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/UpVote.svg" />
          </button>
          {{! Points }}
          <span class="pointCounter" data-post-id="{{submission.id}}">{{submission.points}}</span>
          {{! Downvote }}
          <button class="disabled:opacity-25 downvoteButton" data-post-id="{{submission.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/DownVote.svg" />
          </button>
        </div>

        {{! Post title and icon }}
        <div class="p-2 flex flex-col my-auto w-40" id="col1-name">
          <div class="text-left m-1">
            <img class="my-2 w-5 h-5" src="/assets/lang-icons/{{submission.language}}.svg" />
            <h2 class="font-bold text-lg md:text-large text-left">
              <a href="/submission/{{submission.id}}">{{submission.name}}</a>
            </h2>
            <p class="text-sm sm:block">
              {{textSummary submission.description}}
            </p>
          </div>
        </div>

        {{! Submission metadata }}
        <div class="p-2 my-auto" id="col2-user">
          <p class="text-small md:text-base">
            <span class="font-semibold">{{submission.user.username}}</span>
            <br />
            {{format_date submission.date_created}}
          </p>
        </div>
      </div>
    </div>
    {{/each}}

    {{else}}
    {{!-- Render cards with inactive upvote buttons --}}

    {{#each submissions as |submission|}}
    <div class="popInSway w-fit">
      <div class="flex submission max-w-md">

        {{! Voting buttons and points w/ event handlers}}
        <div class="m-2 p-2 flex flex-col items-center" id="col3-vote">
          {{! Upvote }}
          <button class="disabled:opacity-25" data-post-id="{{submission.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/UpVote.svg" />
          </button>
          {{! Points }}
          <span class="pointCounter" data-post-id="{{submission.id}}">{{submission.points}}</span>
          {{! Downvote }}
          <button class="disabled:opacity-25" data-post-id="{{submission.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/DownVote.svg" />
          </button>
        </div>

        {{! Post title and icon }}
        <div class="p-2 flex flex-col my-auto w-40" id="col1-name">
          <div class="text-left m-1">
            <img class="my-2 w-5 h-5" src="/assets/lang-icons/{{submission.language}}.svg" />
            <h2 class="font-bold text-lg md:text-large text-left">
              <a href="/submission/{{submission.id}}">{{submission.name}}</a>
            </h2>
            <p class="text-sm sm:block">
              {{textSummary submission.description}}
            </p>
          </div>
        </div>

        {{! Submission metadata }}
        <div class="p-2 my-auto" id="col2-user">
          <p class="text-small md:text-base">
            <span class="font-semibold">{{submission.user.username}}</span>
            <br />
            {{format_date submission.date_created}}
          </p>
        </div>
      </div>
    </div>
    {{/each}}

    {{/if}}
  </div>

  {{!-- 2nd Column, top posts of all time --}}
  <div class="flex flex-col mx-auto">
    <p class="popIn font-bold text-2xl mb-2 sm:mt-4 md:mt-0 text-center">Top posts of all
      time:</p>

    {{!-- Render a card for the top three (even if redundant) --}}
    {{#each topThree as |submission2|}}
    <div class="popInSway2 w-fit">
      <div class="flex submission max-w-md">


        {{#if session.loggedIn}}
        {{! Voting buttons and points w/ event handlers}}
        <div class="m-2 p-2 flex flex-col items-center" id="col3-vote">
          {{! Upvote }}
          <button class="upvoteButton disabled:opacity-25" data-post-id="{{submission2.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/UpVote.svg" />
          </button>

          {{! Points }}
          <span class="pointCounter" data-post-id="{{submission2.id}}">{{submission2.points}}</span>

          {{! Downvote }}
          <button class="downvoteButton disabled:opacity-25" data-post-id="{{submission2.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/DownVote.svg" />

          </button>
        </div>

        {{else}}
        {{! Voting buttons and points w/o event handlers}}
        <div class="m-2 p-2 flex flex-col items-center" id="col3-vote">
          {{! Upvote }}
          <button class="disabled:opacity-25" data-post-id="{{submission2.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/UpVote.svg" />
          </button>

          {{! Points }}
          <span class="pointCounter" data-post-id="{{submission2.id}}">{{submission2.points}}</span>

          {{! Downvote }}
          <button class="disabled:opacity-25" data-post-id="{{submission2.id}}">
            <img class="h-10 w-10 rounded-full" src="/assets/DownVote.svg" />

          </button>
        </div>
        {{/if}}

        {{! Post title and icon }}
        <div class="p-2 flex flex-col my-auto w-40" id="col1-name">
          <div class="text-left m-1">
            <img class="my-2 w-5 h-5" src="/assets/lang-icons/{{submission2.language}}.svg" />
            <h2 class="font-bold text-lg md:text-large text-left">
              <a href="/submission2/{{submission2.id}}">{{submission2.name}}</a>
            </h2>
            <p class="text-sm sm:block">
              {{textSummary submission2.description}}
            </p>
          </div>
        </div>

        {{! Submission metadata }}
        <div class="p-2 my-auto" id="col2-user">
          <p class="text-small md:text-base">
            <span class="font-semibold">{{submission2.user.username}}</span>
            <br />
            {{format_date submission2.date_created}}
          </p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>