<!-- Loop over each code submission in the code-submissions array -->

{{#each submissions as |submission|}}
  <div class="submissionContainer">
    <div class="grid grid-cols-3 auto-cols-max submission">
      <div class="columns-2 m-3" id="col1-name">
        <img class= "w-20 h-auto" src="/assets/lang-icons/{{submission.language}}.svg"/>
        <h2 class="font-bold text-lg">
          <a href="/submission/{{submission.id}}">{{submission.name}}
            (<span
              class="pointCounter"
              data-post-id="{{submission.id}}"
            >{{submission.points}}</span>)</a>
        </h2>
        <p>
          {{submission.description}}
        </p>
      </div>
      <div class="m-3" id="col2-user">
        <p>
          Created by
          <span class="font-semibold">{{submission.user.username}}</span>
          on
          <br />
          {{format_date submission.date_created}}
        </p>
      </div>
      <div class="m-3" id="col3-vote">
        {{! Voting buttons }}
        <button class="upvoteButton disabled:opacity-25" data-post-id="{{submission.id}}">
          <img
            class="h-10 w-10 rounded-full"
            src="/assets/UpVote.svg"
          />
        </button><br>

        <button class="downvoteButton disabled:opacity-25" data-post-id="{{submission.id}}">
          <img class="h-10 w-10 rounded-full" src="/assets/DownVote.svg" />

        </button>
      </div>
    </div>
  </div>

{{/each}}
