<!-- Loop over each code submission in the code-submissions array -->

{{#each submissions as |submission| }}
<div class="submissionContainer">
  <div class="grid grid-cols-3 auto-cols-max submission">
    <div class="m-3" id="col1-name">
      <h2 class="text-lg">
        <a href="/submission/{{submission.id}}">{{submission.name}} ({{submission.points}} Points)</a>
      </h2>
      <p>
        {{submission.description}}
        </p>
    </div>
    <div class="m-3" id="col2-user">
      <p>
        Created by {{submission.user.username}} on <br> {{format_date submission.date_created}}
      </p>
    </div>
    <div class="m-3" id="col3-vote">
      {{! Voting buttons }}
      <button class="upvoteButton" data-post-id="{{submission.id}}">Upvote<img class="h-10 w-10 rounded-full"
          src="/assets/UpVote.svg" /></button>
      <button class="downvoteButton" data-post-id="{{submission.id}}">Downvote<img class="h-10 w-10 rounded-full"
          src="/assets/DownVote.svg" /></button>
    </div>
  </div>
</div>

{{/each}}
