<!-- Loop over each code submission in the code-submissions array -->

{{#each submissions as |submission| }}
<div class="submissionContainer">
  <div class="grid grid-cols-3 auto-cols-max submission">
    <div class="m-3" id="col1-name">
      <h2 class="font-semibold text-lg">
        <a href="/submission/{{submission.id}}">{{submission.name}}</a>
      </h2>
      <p class="text-sm truncate ...">
        {{submission.description}}
        </p>
    </div>
    <div class="m-3" id="col2-user">
      <p>
        Created by <span class="font-semibold">{{submission.user.username}}</span> <br> <span class="text-sm"> on {{format_date submission.date_created}}</span>
      </p>
    </div>
    <div class="m-3" id="col3-vote">
      {{! Voting buttons }}
      <h3>({{submission.points}} Points)</h3>
      <button class="upvoteButton" data-post-id="{{submission.id}}"><img class="h-10 w-10 rounded-full"
          src="/assets/UpVote.svg" /></button>
      <button class="downvoteButton" data-post-id="{{submission.id}}"><img class="h-10 w-10 rounded-full"
          src="/assets/DownVote.svg" /></button>
    </div>
  </div>
</div>

{{/each}}
