<div class="text-center">
    <h2>{{submission.name}}</h2>
    <p>{{submission.description}}</p>
    <p>{{submission.content}}</p>
    <p>Submitted by {{submission.user.username}} on {{format_date date_created}}</p>
</div>
